.App {
  background: linear-gradient(to right,#F8F9F3,#F8F9F9);
  font-family: 'Comfortaa', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.start-content{
  background-image: url('/public/background_img.png');
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left top;
  height: 700px;
  padding: 5% 3% 2% 3% ;
  text-align: end;
}

.start-content-text{
  font-size: 64px;
  padding-bottom: 20px;
  max-width: 50%;
  margin-left: 50%;
}

.start-content-subtext{
  font-size: 20px;
  padding-bottom: 70px;
  max-width: 50%;
  margin-left: 50%;
}

.know-more-button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}


.features{
  padding: 2%;
  background:  url('/public/thinking_girl.png');
  background-size: 30% 70%;
  background-repeat: no-repeat;
  background-position: right top;
  height: 650px;
  text-align: center;
  padding: 1% 25% 2% 3% ;
}

.card{
  margin-bottom: 25px;
  transition: transform 0.3s ease; 
}



.card:hover{
  background-color:  #f6f6ee;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.15); 
  transform: scale(1.04)
}

.card-text{
  font-weight: bold;
}

.subjects{
  margin-left: 0.5%;
  margin-bottom: 2%;
  background-image: url('/public/book.jpg');
  background-position: left;
  background-size: 20%;
  background-repeat: no-repeat;
}

.subjectCard{
  padding: 1.5%;
  text-align: center;
  margin-left: 3%;
  margin-right: 2%;
}

.olympiad{
  justify-content: center;
  background-image: url('/public/class.jpeg');
  text-align: center;
  height: 200px;
  background-size: 22%;
  background-repeat: no-repeat;
  margin-left: 30%;
  width: 60%;
}

.olympiad-text{
  text-align: end;
  margin-left: 25%;
  margin-right: 10%;
  max-width: 65%;
  font-size: 20px;
  font-weight: bold;
}

.math{
  background-image: url('/public/math.png');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: 45%;
}

.all{
  background-image: url('/public/Stack-of-Books.jpg');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: 45%;
}

.map-card{
  padding: 1%;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
}

.map-card:hover{
  box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.15); 
  transform: scale(1.00)
  
}

.spacer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media (max-width: 767px) {
  .start-content {
    background-size: 100% 60%;
    background-position: left bottom;
    text-align: center;
    padding: 20% 3% 2% 3% ;
  }

  section {
    height: auto; /* Reset the height for mobile */
  }
  .start-content-text{
    font-size: 40px;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
  }

  .start-content-subtext{
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    margin-bottom: 0%;
    text-align: center;
  }

  .features{
    background-size: 45% 26%;
    background-position: right top;
    text-align: center;
    padding: 1% 3% 2% 3% ;
    height: 700px;
  }

  .card{
    width: 65%;
    font-size: 10px;
  }

  .card-text{
    font-size: 12px;
  }

  .olympiad{
    height: 100px;
    margin-left: 15%;
    background-size: 40%;
    margin-right: 15%;
    max-width: 70%;
  }

  .olympiad-text{
    font-size: 12px;
    margin-left: 45%;
    max-width: 55%;
    margin-right: 5%;
  }

  .map-card{
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

}


/* Responsive layout for desktop */
@media (min-width: 768px) {
  .start-content {
    max-width: 100%;
    display: flex;
    align-items: center;
  }

  section {
    flex: 1;
    margin-right: 20px; /* Add some space between the content and the image */
  } 
}

.know-more-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: #3498db; /* Blue background color, you can customize this */
  color: #fff; /* White text color */
  transition: background-color 0.3s ease;
}